    <head>
      <link rel="stylesheet" href="/stylesheets/login.css"/>
      <link rel="stylesheet" href="/stylesheets/reserve.css"/>

    </head>

    <header class="header">
        <div class="header__container">
            <div class="header__toggle" id="toggle">
                <i class="fas fa-bars"></i>
            </div>

            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="/" rel="noopener noreferrer">Nosotros</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#" rel="noopener noreferrer">Institucional</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#" rel="noopener noreferrer">Especialidades</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#" rel="noopener noreferrer">Contacto</a>
                    </li>
                </ul>
            </nav>

            <a class="linked">
                <img class="linked__logo" loading="lazy" src="/images/Logo.png" alt="logo clínica pérez" />
            </a>
            <div class="linked">
             <a class="linked">
                <img class="userlogin__logo" loading="lazy" src="/images/userloged.svg" alt="icono login" />
                
            </a>
            {{#each usuariol}}
            <p class="textusuariolog">{{nombre_paciente}}</p>
            {{/each}}
            </div>
        </div>
    </header>

    <div class="cont contform">
        <div class="form formdiv ">
            <form action="/reserve/validacion" method="post">
                
                <div>
                 {{#each usuariol}}
                <input class="invisible" type="hidden" name="idcliente" value={{id_cliente}} >
                {{/each}}
                </div>

                <h1 class="tituloreserva">Reserve su turno</h1>
                
                <select
                    class="comboboxformreserv_list"
                    name="cobertura"
                    id="specialitiesSurgery"
                    required
                >
                    <option value="" disabled selected hidden>Cobertura...</option>                
                    <option value="Particular">Particular</option>
                    <option value="Seguro Privado">Seguro Privado</option>
                </select>

                <select
                    class="comboboxformreserv_list"
                    name="especialidad"
                    id="specialitiesSurgery"
                    required
                >
                    <option value="" disabled selected hidden>Especialidad...</option>                    
                    {{#each especialidadesl}}
                    <option value="{{id_especialidad}}">{{nombre_especialidad}}</option>
                    {{/each}}
                </select>

                <select
                    class="comboboxformreserv_list"
                    name="profesional"
                    id="specialitiesSurgery"
                    required
                >
                    <option value="" disabled selected hidden>Profesional...</option>                 
                    {{#each doctoresl}}
                    <option value="{{id_medicos}}">{{nombre_apellido_medico}}</option>
                    {{/each}}
                </select>

                <input class="comboboxformreserv_list" type="date" id="start" name="fecha"
                    value="fecha"
                    min="2018-01-01" max="2023-12-31" placeholder="fecha" required>

                <select
                    class="comboboxformreserv_list"
                    name="hora"
                    id="specialitiesSurgery"
                    required
                >
                    <option value="" disabled selected hidden>Hora...</option>                    
                    <option value="">9:00</option>
                    <option value="">10:00</option>
                    <option value="">11:00</option>
                    <option value="">12:00</option>
                    <option value="">13:00</option>
                    <option value="">14:00</option>
                    <option value="">15:00</option>
                </select>

                <button class="login reqturn" type="submit">Pedir turno</button>
            </form>
        </div>
    </div>

    <footer class="footer">
        <div class="footer__container">
          <img
            loading="lazy"
            src="/images/Branding_logo-Footer.svg"
            alt="logo clínica pérez"
          />
  
          <div class="addres">
            <i class="fas fa-map-marker-alt"></i>
            <p>Avenida La Plata 188, Caba.</p>
          </div>
        </div>
    </footer>